---
import BlackNavBar from "../components/NavBlack.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
interface ImageItem {
  title: string;
  url: string;
  alt: string;
  text: string;
}

const images = [
  {
    url: "https://raw.githubusercontent.com/Integra-Meetings/integraMeetingsImagenes/main/ourProcess/conceptualizacion.png",
    alt: "image of conference",
    title: "Planeación y marketing",
    text: `Analizamos las necesidades de tu evento para poder planificar y desarrollar estrategias de marketing a medida. 
    `,
  },
  {
    url: "https://raw.githubusercontent.com/Integra-Meetings/integraMeetingsImagenes/main/ourProcess/planeacion.png",
    alt: "Planeación y marketing",
    title: "Planeación y marketing",
    text: `Diseñamos estrategias de marketing integrales y efectivas que abarcan la promoción del evento y la comunicación con los asistentes, garantizando una experiencia excepcional y atractiva.. 
    `,
  },
  {
    url: "https://raw.githubusercontent.com/Integra-Meetings/integraMeetingsImagenes/main/ourProcess/patrocinio.png",
    alt: "Commercial Strategy and Sponsorshipss",
    title: "Estrategia comercial y patrocinios:",
    text: `Contamos con un equipo de expertos que te ayudará a crear y personalizar estrategias comerciales efectivas para atraer nuevos clientes y patrocinadores de alto valor.
¡Incrementa tus ingresos y logra la rentabilidad de tu organización! 
    `,
  },
  {
    url: "https://raw.githubusercontent.com/Integra-Meetings/integraMeetingsImagenes/main/ourProcess/logistica.png",
    alt: "Logística",
    title: "Logística",
    text: `Gestionamos de inicio a fin la logística de tu evento, desde la selección del venue, transportes y alojamiento de tus asistentes. Nuestro expertice garantiza la mejor experiencia de participación en tu evento.
    `,
  },
  {
    url: "https://raw.githubusercontent.com/Integra-Meetings/integraMeetingsImagenes/main/ourProcess/operacion.png",
    alt: "Operación",
    title: "Operación",
    text: `Supervisamos y coordinamos todos los aspectos de la operación del evento, garantizando que cada elemento funcione sin problemas y según lo planeado. 
    `,
  },
  {
    url: "https://raw.githubusercontent.com/Integra-Meetings/integraMeetingsImagenes/main/ourProcess/tecnologia_data.png",
    alt: "Technology and Data",
    title: "Tecnología y Data",
    text: `Implementamos tecnologías innovadoras y soluciones de análisis de datos para optimizar la experiencia del evento, mejorar la eficiencia y proporcionar información valiosa para futuros eventos.
    `,
  },
];

const colors = [
  "rgba(146, 138, 81, 0.8)", // #928A51 con 20% de opacidad
  "rgba(105, 46, 42, 0.8)", // #692E2A con 20% de opacidad
  "rgba(25, 47, 93, 0.8)", // #192F5D con 20% de opacidad
  "rgba(133, 132, 133, 0.8)", // #858485 con 20% de opacidad
  "rgba(48, 46, 33, 0.8)", // #302E21 con 20% de opacidad
  "rgba(166, 137, 113, 0.8)", // #A68971 con 20% de opacidad
];

const shuffledColors = [...colors].sort(() => Math.random() - 0.5);
---

<Layout title="Proceso">
  <BlackNavBar />
  <section class="ImageContainers">
    {
      images.map((image: ImageItem, index: number) => {
        const color = shuffledColors[index];
        return (
          <div
            class="relative w-full bg-cover bg-center image-item group"
            style={`background-image: url('${image.url}');`}
            role="img"
            aria-label={image.alt}
          >
            <div
              class="absolute inset-0 flex flex-col p-8 justify-center items-center text-white text-xl font-bold hidden group-hover:flex transition-opacity duration-500"
              style={`background-color: ${color};`}
            >
              <>
                <p class="text-center">{image.title}</p>
                <br />
              </>
              <p class="text-md font-normal text-center">{image.text}</p>
            </div>
          </div>
        );
      })
    }
  </section>

  <Footer />
</Layout>

<style>
  .image-item {
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ImageContainers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .group .hidden {
    display: flex;
  }

  @media screen and (min-width: 720px) {
    .ImageContainers {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1080px) {
    .ImageContainers {
      grid-template-columns: repeat(3, 1fr);
    }

    /* Ocultar por defecto el segundo div y mostrarlo con hover */
    .group .hidden {
      display: none;
    }

    .group:hover .hidden {
      display: flex;
    }
  }
</style>
